@model dynamic

@{
    ViewBag.Title = "title";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<ul id="navbar">
      <li><a href="#">Подключенные сервисы</a></li>
      <li><a href="#">Список свойств</a></li>
      <li><a href="#">Список систем</a></li>
      <li><a href="#">Управление сервисами</a></li>
    </ul>
</body>
