@model dynamic

<head>
    <link rel="stylesheet" href="css/index.css">
</head>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h2 class="menu-header">Доступные функции</h2>
    <ul id="menu">
        <li class="menuitem"><a class="menu-reference" href="#">Подключенные сервисы</a></li>
        <li class="menuitem"><a class="menu-reference" href="/properties">Список свойств</a></li>
        <li class="menuitem"><a class="menu-reference" href="/systems">Список систем</a></li>
        <li class="menuitem"><a class="menu-reference" href="/update">Обновить метабазу</a></li>
    </ul>
</div>
